blobfile
tqdm
mpi4py
torch
torchvision
torchaudio
numpy
albumentations
diffusers
pudb
invisible-watermark
imageio
imageio-ffmpeg
test-tube
streamlit
torch-fidelity
torchmetrics
streamlit-drawable-canvas
einops
kornia
lmdb
natsort
omegaconf
opencv-python
opencv-python-headless
pandas
Pillow
pytorch-lightning
PyYAML
six
tqdm
transformers
omegaconf
git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e .
